<section class="todoapp">
  <header class="header">
    <h1>Sign Up</h1>
    <%= form_for @user do |f| %>

      <%= f.text_field :email,  :class => "new-todo",  :placeholder => "Register your email!" %>
      <%= f.password_field :password,  :class => "new-todo",  :placeholder => "Choose a password" %>
      <%#= f.submit :submit %>

    <% end %>
    
  </header>
    <footer class="footer">
  </footer>
</section>
